.footer--global

  .footer-inner
    padding-top: 10rem
    padding-bottom: 10rem
    padding-left: $spacer
    padding-right: 0
    max-width: $footer-container
    margin-left: auto
    margin-right: auto

    +breakpoint-down(sm)
      padding: $spacer*2

  .footer-column
    flex: 1 1 auto

  .footer-columns
    margin-bottom: 6.4rem
    display: flex
    flex-flow: row nowrap

    +breakpoint-down(sm)
      flex-flow: column nowrap

  .footer-column
  .footer-column--left
    margin-right: 16%
    flex: 1 1 auto

    h5
      font-size: 2rem
      line-height: 1.65
      margin-bottom: 1rem
      letter-spacing: 0.15em

    .text--leader
      font-size: 1.8rem
      line-height: 1.5
      margin-bottom: 3.7rem
      letter-spacing: .05em

    .p--secondary
      font-size: 1.6rem
      line-height: 1.4
      margin-bottom: 3rem
      span 
        display: block

    +breakpoint-down(sm)
      margin-right: 0
      margin-bottom: 0
      order: 2

  .footer-column--right
    max-width: 43rem
    flex: 0 0 43rem

    +breakpoint-down(sm)
      max-width: none
      flex: 1 1 auto
      order: 1


.footer-bottom
  display: flex

  .footer-address
    font-size: 1.4rem

    > span
      margin-right: 3.9rem

  +breakpoint-down(sm)
    flex-flow: row wrap
    align-items: flex end

    .footer-address
      flex: 1 1 100%

    .social
      flex: 0 0 auto

    .logo
      margin-right: 0
      margin-left: auto
      flex: 0 0 auto


  +breakpoint-up(lg)
    align-items: flex-end

