// Body

html
  height: 100%

body
  min-height: 100%
  overflow-x: hidden

  &.debug
    // debugging
    position: relative
    &:before
      content: ''
      background: url(../images/blixen-page-1.jpg)
      background-position: 0px 0%
      // background-size: cover
      background-size: 100%
      background-size: 2560px auto
      background-size: cover
      position: fixed
      left: 0
      width: 100%
      top: 0
      height: 100%
      z-index: 9999
      opacity: .75
      pointer-events: none
    // debugging end§


  +breakpoint-down(sm)
    &.nav-mobile--opened,
    &.search-wrap--opened
      overflow: hidden

// Sticky footer

@if ($sticky-footer)
  .page-wrap
    display: flex
    flex-flow: column nowrap
    min-height: 100vh

    .header--global,
    .footer--global
      flex: 0 0 auto

    .main--global
      display: flex
      flex-flow: column nowrap
      flex: 1 1 auto

      .main-inner
        flex: 1 1 auto