.blockquote-widget
  min-height: 50vh
  padding: 11.6rem 2rem 13.3rem 2rem
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  width: 100%

  .blockquote-carousel
    max-width: 100%
    display: block
    overflow: hidden
    padding-left: 10.5rem
    padding-right: 10.5rem

    +breakpoint-down(md)
      padding-left: 5rem
      padding-right: 5rem

  .blockquote-widgetContainer
    position: relative
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: center
    align-self: stretch
    margin-left: auto
    margin-right: auto
    padding: 9.3rem 0 7.5rem
    max-width: 107rem
    text-align: center
    +breakpoint-up(md)
      left: .5rem
    +breakpoint-down(md)
      max-width: 100%
      padding: 5rem 0
  
  .blockquote-cite
    font-family: $serif-family
    font-weight: 600
    font-style: italic
    font-size: 4rem
    line-height: 4.8rem
    margin-bottom: 5rem
    letter-spacing: .3rem
    display: block

    +breakpoint-down(md)
      font-size: 2rem
      line-height: 1.25

  .blockquote-author
    font-size: 1.9rem
    font-weight: 500
    letter-spacing: .1em
    text-transform: uppercase

    +breakpoint-down(md)
      font-size: 1.6rem


  .slick-arrow
    text-indent: -999em
    overflow: hidden
    position: absolute
    top: 50%
    transform: translateY(-50%)
    padding: 0
    background-color: transparent
    border: 0

  .slick-prev
    left: 5.2rem
    margin-top: -0.8rem
    +retina-image('carousel-arrow-left.png')

    +breakpoint-down(md)
      left: 1rem

  .slick-next
    right: 5.2rem
    margin-top: -0.8rem
    +retina-image('carousel-arrow-right.png')

    +breakpoint-down(md)
      right: 1rem


  .blockquote-button
    position: absolute
    top: 100%
    margin-top: 3.6rem
    padding: 2.5rem 7.8rem
    left: 50%
    transform: translateX(-50%)