=button-hover-active()
  &:hover,
  &.button--active
    @content

%button
  position: relative
  display: inline-block
  vertical-align: middle
  margin: 0
  // padding: 1.3rem 3rem
  padding: 1.5rem 3rem 1.1rem
  border: 0
  font-weight: 500
  border-radius: $button-radius
  letter-spacing: .1em
  font-size: 1.4rem
  line-height: 2.4rem
  font-family: $helvetica-family-MD
  font-smoothing: antialiased
  text-transform: uppercase
  text-align: center
  text-overflow: ellipsis
  text-decoration: none
  white-space: nowrap
  cursor: pointer
  user-select: none
  background: none
  background-color: $clr-main
  color: white
  transition-property: all
  transition-timing-function: $ease-in-out-quint
  transition-duration: 100ms

  &:hover,
  &.button--active,
  &:focus
    text-decoration: none
    outline: 0
    background: darken($clr-main,10%)
    color: white

  &.button--active,
  &.active,
  &:active,
  &:focus
    outline: 0

  &.button--disabled,
  &.disabled,
  &[disabled]
    opacity: .45
    pointer-events: none
    cursor: not-allowed


.button
  @extend %button

  &--main
    background: $clr-main
    color: white

    +button-hover-active
      background-color: darken($clr-main,10%)
      color: white

  &--main-2
    background: $clr-main-2
    color: white

    +button-hover-active
      background-color: darken($clr-main-2,10%)
      color: white

  &--main-outline
    background-color: rgba($clr-main,0)
    box-shadow: inset 0 0 0 1px $clr-main

    +button-hover-active
      background: $clr-main
      color: white

  &--main-clear
    background-color: rgba($clr-main,0)
    color: $clr-main

    +button-hover-active
      background-color: rgba($clr-main,0)
      color: $clr-main
      box-shadow: inset 0 0 0 1px $clr-main

  &--dark
    background-color: #000
    color: white

    +button-hover-active
      background-color: #000
      color: darken(white,15%)

  &--text
    padding: 0
    background: transparent
    color: inherit
    box-shadow: none
    border: 0

    &:hover
      background: transparent
      color: inherit
      box-shadow: none
      border: 0


  &--variant--1
    background-color: color-variant(1,1)
    color: white

    +button-hover-active
      background-color: darken(color-variant(1,1),10%)
      color: white

  &--variant--2
    background-color: color-variant(2,1)
    color: white

    +button-hover-active
      background-color: darken(color-variant(2,1),10%)
      color: white

  &--variant--3
    background-color: color-variant(3,1)
    color: white

    +button-hover-active
      background-color: darken(color-variant(3,1),10%)
      color: white


//------------------------------------//
//  Sizes
//------------------------------------*/


.button--tiny
  font-size: 1.1rem
  padding: .5rem 1.5rem

.button--small
  padding: .8rem 2rem

.button--big
  // padding: 2.2rem 4.9rem
  padding: 2.2rem 5.2rem

.button--large
  padding: 2.6rem 5.6rem
  font-size: 1.2rem

//------------------------------------//
//  Modifiers
//------------------------------------*/


.button--block
  display: block
  width: 100%
  padding-left: $spacer/2
  padding-right: $spacer/2

.button--round
  border-radius: 1000px

.button--inactive
  opacity: .5
// buttons stacked
//

.buttons--horizontal
  display: block
  width: 100%

  .flexbox &
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    justify-content: space-between

    .button
      flex: 1 1 auto


  .no-flexbox &
    +clearfix

    .button
      float: left

.buttons--justified
  display: block
  width: 100%

  .flexbox &
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    justify-content: space-between

    .button
      flex: 1 1 100%


  .no-flexbox &
    +clearfix

    .button
      float: left


//------------------------------------//
//  Custom
//------------------------------------*/

.button--facebookFooter
  padding: 1.6rem 6.3rem 1.2rem 5.2rem
  // height: 4rem
  line-height: 1.6rem
  font-size: 1.1rem
  text-transform: uppercase
  letter-spacing: 0
  background: #91cad4
  color: black

  &:hover
    background: lighten(#91cad4,10%)
    color: black

  > .fa
    position: absolute
    left: 2.5rem
    top: 50%
    transform: translate(-50%,-50%)
    font-size: 1.8rem



.button--navContactUs
  padding: 0
  height: 5.4rem
  width: 5.4rem
  position: relative
  background: transparent
  border-radius: 10rem
  box-shadow: 0 0 0 1px $clr-main
  &:hover,
  &:focus,
  &:active
    background: transparent
  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%) rotateY(180deg) scale(.85)
    +retina-image('phone.png')


.button--navDestination
  +breakpoint-down(sm)
    border: 1px solid rgba($clr-main,.45)
    background: none
    color: white
    line-height: 2.4rem
    font-weight: 400

    &:active,
    &:hover
      border: 1px solid rgba($clr-main,.65)
      background: none
      color: white

  .navDestinationActive &
    background: rgba(black,.1)
    border-color: rgba(black,0)

  .navDestinationActive &.button--active
    background: white
    color: black
    z-index: -1
    position: relative

    &.button--variant--1
      box-shadow: 0 0 0 999em color-variant(1,1)
    &.button--variant--2
      box-shadow: 0 0 0 999em color-variant(2,1)
    &.button--variant--3
      box-shadow: 0 0 0 999em color-variant(3,1)



.button--navPage
  margin-right: 0
  margin-left: 0
  display: inline-flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  background: #80745A
  color: white
  letter-spacing: 0.2em
  font-weight: 400
  font-size: 1.3rem
  line-height: 1.8rem
  padding: 2.2rem 4.7rem 2.2rem 8rem

  &:before
    content: ''
    position: absolute
    top: 50%
    left: 3.8rem
    transform: translateY(-50%)
    +retina-image('icon--map-button.png')


  +breakpoint-down(md)
    margin: $spacer/2

.button--navPage--secondary
  margin-right: 0
  margin-left: 0
  display: inline-flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  background: #B09E72
  color: white
  letter-spacing: 0.2em
  font-weight: 400
  font-size: 1.3rem
  line-height: 1.8rem
  padding: 2.2rem 3.05rem

  +breakpoint-down(md)
    margin: $spacer/2


.button--resultsFound
  letter-spacing: .15em
  font-weight: 400