.catalog--nav
  display: flex
  flex-flow: row nowrap
  margin-bottom: 9.7rem
  padding: 0 0 0 4.5rem

  .catalog-info
    padding-left: 5.9rem

  .catalog-title,
  .catalog-subtitle
    text-transform: uppercase
    font-style: italic
    font-family: $baskervilled-family
    color: $clr-main

  .catalog-title
    margin-bottom: 3rem
    font-size: 2.4rem
    line-height: 1.2
    letter-spacing: 0.085em

  .catalog-subtitle
    margin-bottom: 1.7rem
    font-size: 1.6rem
    line-height: 1