.contacts
  white-space: nowrap
  display: flex
  min-height: $contacts-container

.contacts-phone
  font-family: $baskervilled-family
  font-size: 2.4rem
  line-height: .85
  font-style: italic
  font-weight: 600
  letter-spacing: -0.02em

.contacts-info
  display: flex
  flex-flow: column nowrap
  justify-content: center
  padding-top: 2rem
  padding-bottom: 0.2rem
  padding-right: 4rem
  text-align: right
  // transition: all 150ms linear
  // max-width: 16rem
  max-width: 50rem

  .header-search--active &
    opacity: 0
    visibility: hidden
    max-width: 0

.contacts-workHours
  line-height: 1

.contacts-workHoursToggle
  font-family: $helvetica-family-MD
  font-size: 1.4rem
  letter-spacing: 0.015em
  font-weight: 600
  line-height: .85
  margin-top: .5rem
  display: block


.contacts-icon--phone
  align-self: center
  margin-top: 2.2rem
  margin-right: 1rem
  +retina-image('phone.png')
  transition: all .4s ease

.contacts-icon--arrowDown
  display: inline-block
  vertical-align: middle
  margin-left: $spacer/4
  transition: all .4s ease
  +retina-image('arrow-down.png')


.contacts-workHoursDropdown
  position: absolute
  white-space: nowrap
  right: 0
  // transform: translateX(-50%)
  top: 100%
  min-width: 20rem
  background: #181A1C
  padding: $spacer
  margin-top: 0.5rem
  text-align: left
  font-size: 1.1rem
  letter-spacing: .05em
  font-weight: 500


.header-aside
  .contacts
    color: $clr-main
