.facebook--footer
  margin-bottom: 5.5rem

  .facebook-text
    font-size: 2rem
    line-height: 1.5

  .facebook-title
    margin-bottom: 0
    line-height: 2.5

    +breakpoint-down(sm)
      font-size: 1.3rem