.header--global
  background: $clr-header-background
  transition-property: all
  transition-duration: 150ms
  transition-timing-function: ease-out-out

  .header--detached &
    background: rgba($clr-header-background,.85)

  .subnav--opened &
    background: #1d1d1d

  +breakpoint-down(sm)
    &,
    .subnav--opened &
      background: $clr-header-background--mobile