.icon--starWhite
  +retina-image('star--white.png')

.icon--star
  +retina-image('star.png')

.icon--sliders
  +retina-image('sliders.png')

.icon--phone
  +retina-image('phone.png')

.icon--close
  +retina-image('close.png')

.icon--search
  +retina-image('search.png')

.icon--map
  +retina-image('map.png')

.icon--mapRoute
  +retina-image('icon--map-button.png')

.icon--arrowDownDark
  +retina-image('arrow-down--dark.png')

.icon--arrowRightWhite
  +retina-image('arrow-right--white.png')

.icon--number
  +box(2.8rem)
  flex: 0 0 2.8rem
  vertical-align: middle
  position: relative
  z-index: 0
  border-radius: 5rem
  background: $clr-main
  font-style: normal
  color: white
  font-size: 1.6rem
  font-family: $font-family
  font-weight: normal
  text-align: center
