.languages

.languages-item
  opacity: .5
  font-size: 1.4rem
  padding: 0.5rem 1.1rem 0rem 1.8rem
  &.button--active
    padding: 0.5rem 1.3rem 0rem 1.2rem
  + .languages-item
    margin-left: -0.5rem

  +breakpoint-down(sm)
    padding: 1rem 1.1rem .5rem 1.1rem


  &.button--active,
  &:hover
    opacity: 1
