.list
.list--bordered
  .list-title
    padding: 1.2rem 0 0.8rem
    min-height: 3.2rem
    border-bottom: 1px solid $clr-main
    font-weight: bold
    font-style: italic
    font-family: $serif-family
    font-size: 1.7rem 

  .list-item
    position: relative
    margin: 0 0 -1px
    display: flex
    flex-flow: row nowrap
    align-items: center
    padding: 0 .2rem
    min-height: 3.6rem
    border: solid $clr-main
    border-width: 1px 0
    font-weight: bold
    font-style: italic
    font-family: $serif-family
    font-size: 1.6rem
    line-height: 1.8rem
    overflow: auto


+breakpoint-up(md)
  .list--2columns
    columns: 2
    column-gap: $spacer

  .list--3columns
    columns: 3
    column-gap: $spacer