.map
  position: relative

.map-legend
  position: absolute
  right: 0
  top: 0
  height: 100%
  z-index: 1
  min-width: 50.5rem
  background: #333
  padding: 3.9rem 3rem

  +breakpoint-down(md)
    padding: $spacer


  .section-title
    margin-bottom: 3.3rem

  .list
    padding: 0 0.4rem
    max-width: 29.8rem

  .list-item
    padding: 0.6rem 0.2rem
    margin-bottom: 1px

.map-widget
  height: 100%
  min-height: 58.4vh