.nav--global
  margin: auto auto 0
  grid-area: nav

  // +breakpoint-down(sm)
  +breakpoint(false,920px)
    flex: 1 1 100%
    order: 3

  +breakpoint-down(sm)
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: auto
    background: $clr-header-background--mobile
    z-index: 12
    padding: $spacer*4 $spacer*2 0

    body:not(.nav-mobile--opened) &
      display: none


  > .nav-list
    display: flex
    flex-flow: row nowrap
    justify-content: center

    +breakpoint(false,920px)
      justify-content: stretch

    +breakpoint-down(sm)
      flex-flow: column nowrap
      justify-content: space-between

    +breakpoint-down(sm)
      margin-bottom: $spacer*2
      max-width: 40rem
      margin-left: auto
      margin-right: auto

  > .nav-list > .nav-item
    +breakpoint(false,920px)
      flex: 1 1 auto

    +breakpoint-down(sm)
      border-bottom: 1px solid rgba($clr-main,.45)
      &.nav-item--active
        border-bottom-color: rgba($clr-main,0)


  > .nav-list > .nav-item > .nav-link
    position: relative
    display: block
    text-transform: uppercase
    color: white
    line-height: 1.4rem
    padding: 2rem 0 1.8rem
    margin: 0 3.7rem
    // font-size: 1.2rem
    font-size: 1.4rem
    font-weight: 500
    letter-spacing: 0.12em

    // +breakpoint(920px,1100px)
    //   margin: 0 1.5rem
    //   text-align: center

    +breakpoint-down(sm)
      letter-spacing: .2em
      font-weight: 400
      font-size: 1.4rem
      text-align: center
      margin: 0
      padding: $spacer*2 $spacer

      &:before
        content: ''
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%) scale(.75)
        +retina-image('arrow-right--white.png')
      

    &:after
      content: ''
      position: absolute
      left: 50%
      top: 100%
      margin-top: -1.8rem
      transform: translateX(-50%)
      width: 1.4rem
      max-width: 0
      overflow: hidden
      height: 1px
      background: white
      opacity: 0
      transition: max-width .5s ease,opacity .5s ease

      +breakpoint-down(sm)
        display: none

  > .nav-list > .nav-item:hover,
  > .nav-list > .nav-item--active
    > .nav-link:after
      max-width: 100%
      opacity: 1

  > .nav-list > .nav-item:nth-of-type(2) > .nav-link
    margin: 0 4.6rem 0 2.8rem

  > .nav-list > .nav-item:nth-of-type(3) > .nav-link
    margin: 0 4.1rem 0 3.2rem
    letter-spacing: .13em

  > .nav-list > .nav-item:nth-of-type(4) > .nav-link
    margin: 0 2.1rem 0 5.3rem

  > .nav-list > .nav-item:nth-of-type(5) > .nav-link
    margin: 0 2.5rem 0 4.9rem

  +breakpoint-down(sm)
    > .nav-list > .nav-item > .nav-subnav
      display: none
      transition: all 100ms linear
      opacity: 0

    > .nav-list > .nav-item--hasSubnav.nav-item--active > .nav-subnav
      display: block
      opacity: 1

  +breakpoint-up(md)
    > .nav-list > .nav-item > .nav-subnav
      position: absolute
      top: 100%
      left: 0
      width: 100%
      background: black
      width: 100vw
      max-height: calc(100vh - 6.4rem)
      overflow: auto
      margin-left: calc(-50vw + 50%)
      margin-right: calc(-50vw + 50%)
      background-color: $clr-subnav-background
      padding: 6.8rem 0 10rem
      opacity: 0
      visibility: hidden

      body:not(.subnav--opened) &
        transform: translateY(-15px)
        transform: translate3d(0,-15px,0)
        transition: all .3s ease-out


    > .nav-list > .nav-item--hasSubnav.nav-item--active > .nav-subnav
      opacity: 1
      visibility: visible

      body:not(.subnav--opened) &
        transform: translateY(0)
        transform: translate3d(0,0,0)

      body.subnav--opened.subnav--closing &
        transform: translateY(-15px)
        transform: translate3d(0,-15px,0)
        opacity: 0
        visibility: hidden
        transition: all .3s ease-out

  .nav-item--1
    .nav-column--2
      .nav--list
        margin-bottom: 6.4rem

    .nav-column--3
      .nav--list
        margin-bottom: 4.7rem

  .nav-columns
    display: flex
    flex-flow: row nowrap
    margin-left: -4.5rem
    margin-right: -4.5rem

    +breakpoint-down(sm)
      margin-left: 0
      margin-right: 0
      flex-flow: column nowrap
      padding: 0 0 3rem 0

    .nav-column
      padding-left: 4.5rem
      padding-right: 4.5rem

      +breakpoint-down(sm)
        padding-left: 0
        padding-right: 0
        padding-top: 1.25rem
        padding-spacer: 1.25rem

    .nav-column--1of3
      flex: 0 1 calc(100% / 3)

    .nav-column--2of3
      flex: 0 1 calc(100% / 3 * 2)

    .nav-column--1of2
      flex: 0 1 50%

    .nav-column--2of2
      flex: 0 1 100%

    // Deeper level
    .nav-columns
      margin-left: -2.5rem
      margin-right: -2.5rem

      .nav-column
        padding-left: 2.5rem
        padding-right: 2.5rem

    .nav-column--active
      order: -1


  > .nav-list > .nav-item:nth-of-type(2) > .nav-subnav > .nav-columns > .nav-column--2of3
    padding-left: 7.6rem
    padding-right: 4.6rem

  > .nav-list > .nav-item:nth-of-type(3) > .nav-subnav > .nav-subnavInner > .nav-subnav--inspiration
    display: flex
    flex-flow: row nowrap
    margin-bottom: 1.7rem

    > div:first-of-type
      padding: 0 3.9rem 0 4.7rem
      flex: 1 1 55%

    > div:last-of-type
      padding: 0 4rem 0 5.2rem
      flex: 1 1 45%
    
    .nav-subnav--mediaItemsWrap--1
      display: flex
      flex-flow: row nowrap
      justify-content: space-between

      > div
        flex: 1 1 auto

        &:first-of-type
          max-width: 20rem

        &:last-of-type
          max-width: 23rem


  > .nav-list > .nav-item:nth-of-type(5) > .nav-subnav > .nav-subnav--om
    .nav--list
      margin-bottom: 6.8rem

    .button
      padding: 1.4rem

    .media-item
      padding-left: 5rem

  > .nav-list > .nav-item > .nav-subnav > .nav-subnavInner
    max-width: $header-container
    width: 100%
    margin-left: auto
    margin-right: auto

  > .nav-subnavClose
    z-index: 13
    position: fixed
    right: 4rem
    top: 4.5rem
    transition: all .4s ease
    +retina-image('close.png')

    +breakpoint-down(sm)
      display: none

    &:before
      content: ''
      top: -1rem
      bottom: -1rem
      left: -1rem
      right: -1rem
      position: absolute

    body.subnav--opening &,
    body.subnav--opened &
      visibility: visible
      opacity: 1
    &,
    body.subnav--closing &
      opacity: 0
      visibility: hidden
      transition: all .4s ease

  
  .nav-title
    margin-bottom: 0
    border-bottom: 1px solid rgba($clr-main,.5)
    line-height: 1
    letter-spacing: 0
    text-transform: uppercase
    font-style: italic
    font-size: 2.2rem
    margin-top: -0.5rem
    margin-bottom: .5rem
    padding-top: 0.25rem
    padding-bottom: 1.55rem
    color: $clr-main


  .nav-aside
    max-width: 40rem
    margin-left: auto
    margin-right: auto
    margin-bottom: $spacer*4

    +breakpoint-up(md)
      position: fixed
      height: 0
      left: 0
      max-width: none
      width: 100%
      margin-bottom: 0
      opacity: 0
      visibility: hidden
      transition: all .3s ease-out

      body.subnav--opened &
        opacity: 1
        visibility: visible

      body.subnav--opened.subnav--closing &
        opacity: 0
        visibility: hidden

  .nav-asideWrap
    display: flex
    align-items: center
    justify-content: space-between


  +breakpoint-up(md)
    .nav-asideInner
      position: relative
      max-width: $header-container
      width: 100%
      margin-left: auto
      margin-right: auto

    .nav-asideWrap
      position: absolute
      left: 100%
      left: calc(100% + #{$spacer})
      top: 6.7rem
      white-space: nowrap



  > .nav-list > .nav-item > .nav-subnav .nav-subnavInner
    position: relative

    .nav-mapGraphic
      position: absolute
      bottom: 1.6rem
      left: 100%
      margin-left: 4rem
      // +retina-image('header-map.png')
      +retina-image('header-map-2.png')
      +breakpoint-down(sm)
        display: none


//------------------------------------//
//  Nav list
//------------------------------------*/


.nav--list
  .nav-list
  .nav-item
    display: block

  .nav-link
    display: block
    // padding: 0rem .2rem
    // font-size: pt(16)
    // line-height: pt(40)
    padding: .7rem .2rem
    font-size: 1.5rem
    line-height: 2.4rem
    margin-bottom: 0.1rem
    border-bottom: 1px solid rgba($clr-main,.5)
    text-transform: none
    font-weight: bold
    font-style: italic
    letter-spacing: .1em
    font-family: $baskervilled-family
    color: $clr-main
    white-space: nowrap

    &:hover
      text-decoration: none
      color: white


.nav-subnav .nav--list
  +breakpoint-down(sm)
    margin: $spacer 0

    .nav-link
      text-align: center
      color: white
      border-bottom: 0

//------------------------------------//
//  Footer nav
//------------------------------------*/

.nav--footer
  .nav-list--first
    margin-right: 12.4rem
  .nav-item
    display: block
  .nav-link
    display: block
    line-height: 1.5
    font-size: 1.5rem
    padding: 0.3rem 0
    margin-bottom: -.1rem
    letter-spacing: 0.05em
  .nav-list h6
    margin-bottom: 0.55rem


/*------------------------------------//
//  Inner page nav
//------------------------------------*/
.nav-page
  position: relative
  background: white

  +breakpoint-up(lg)
    opacity: 1 !important
    visibility: visible !important

  +breakpoint-down(md)
    position: absolute
    left: 0
    right: 0
    top: 100%


  > div
    display: flex
    flex-flow: row nowrap

    +breakpoint-down(md)
      flex-flow: column nowrap
      padding-left: 0
      padding-right: 0


.nav-pageToggle
  display: none
  text-transform: uppercase
  line-height: 1.4rem
  padding: 1.5rem 10%
  font-size: 1.2rem
  font-weight: 500
  letter-spacing: .1em
  color: black

  +breakpoint-down(md)
    display: block


.nav--page
  margin-right: 0
  margin-left: auto

  +breakpoint-down(md)
    margin-left: 0
    margin-right: 0

  .nav-list
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: center
    margin-right: 16.4rem

    +breakpoint-down(md)
      flex-flow: column nowrap
      align-items: stretch
      text-align: center
      border-top: 1px solid $clr-main
      margin-right: 0

  .nav-list > .nav-item > .nav-link
    position: relative
    display: block
    text-transform: uppercase
    padding: 2.6rem 0 2.2rem
    margin: 0 2.5rem
    letter-spacing: 0.2em
    font-weight: 400
    font-size: 1.3rem
    line-height: 1.8rem
    color: $clr-main

    +breakpoint-down(lg)
      margin-left: 1rem
      margin-right: 1rem
      letter-spacing: 0
    
    +breakpoint-down(md)
      padding: 1.5rem 10%
      margin: 0
      border-bottom: 1px solid $clr-main
      color: $clr-text-faded
      text-align: left

    &:after
      content: ''
      position: absolute
      left: calc(50% - .5rem)
      bottom: 1.8rem
      width: 1.3rem
      height: 1px
      background: black
      opacity: 0
      visibility: hidden
      transition: all .15s linear

      +breakpoint-down(md)
        display: none

  .nav-list > .nav-item--active > .nav-link,
  .nav-list > .nav-item > .nav-link:hover
    color: black

    &:after
      opacity: 1
      visibility: visible



.nav-toggle
  width: 5rem
  height: 5rem
  padding: 1.5rem
  margin: auto auto auto 0
  display: flex
  align-items: center
  justify-content: center
  grid-area: navToggle
  position: absolute
  left: .5rem
  top: 50%
  transform: translateY(-50%)

  .nav-mobile--opened &
    z-index: 15
    left: auto
    right: 2rem

  .header-search--active &
    display: none

  span
    position: relative
    display: block
    width: 100%
    height: 1px
    color: $clr-main
    box-shadow: 0 -6px, 0 6px
    transition: all 150ms 300ms linear

    .nav-mobile--opened &
      transition: all 150ms 0ms linear
      box-shadow: none
      color: white


    &:before,
    &:after
      content: ''
      position: absolute
      height: 1px
      left: 0
      width: 100%
      background: currentColor
      transition: all 300ms 0ms linear

      .nav-mobile--opened &
        transition: all 300ms 150ms linear

    .nav-mobile--opened &:before
      transform: rotate(45deg)

    .nav-mobile--opened &:after
      transform: rotate(-45deg)


  +breakpoint-up(md)
    display: none



// 
+breakpoint-down(sm)
  .button--navDestination
    ~ br,
    ~ .nav
      position: relative
      z-index: 1
      display: none

  .button--active.button--navDestination ~ .nav
    display: block

