.rate
  position: relative
  display: inline-flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  height: 0
  vertical-align: top

  .rate-starCheckbox
    position: absolute
    width: 0
    height: 0
    clip: rect(0,0,0,0)
    overflow: hidden
    top: -999em
    left: -999em
    opacity: 0

  .rate-star
    +retina-image('star.png')
    background-position: center

  .rate-starCheckbox:checked + .rate-star ~ .rate-star
    background: none

.rate--active
  &:hover .rate-star,
  &:hover .rate-starCheckbox:checked + .rate-star ~ .rate-star
    +retina-image('star.png')
  &:hover .rate-starCheckbox + .rate-star:hover ~ .rate-star
    background: none

.rate:not(.rate--active)
  pointer-events: none


.rate--white
  .rate-star
    +retina-image('star--white.png')
    background-position: center

  .rate-starCheckbox:checked + .rate-star ~ .rate-star
    +retina-image('star--white.png')
    background-position: center
    opacity: .45

.rate--gold
  .rate-star
    +retina-image('star--gold.png')
    background-position: center
    opacity: 1

  .rate-starCheckbox:checked + .rate-star ~ .rate-star
    +retina-image('star--gold.png')
    background-position: center
    opacity: .45

.rate--gold.rate--active
  &:hover .rate-star,
  &:hover .rate-starCheckbox:checked + .rate-star ~ .rate-star
    +retina-image('star--gold.png')
    background-position: center
    opacity: 1
  &:hover .rate-starCheckbox + .rate-star:hover ~ .rate-star
    +retina-image('star--gold.png')
    background-position: center
    opacity: .45