
.read-more
  text-transform: none
  font-style: italic
  height: 2rem
  line-height: 2rem
  font-size: 1.4rem
  font-weight: bold
  font-family: $baskervilled-family
  display: inline-block
  border-bottom: 1px solid
  line-height: 1
  margin-right: 2.5rem
  position: relative
  letter-spacing: .1em

  .fa-angle-down
    position: absolute
    margin-left: 1.5rem
    font-size: 2.4rem
    vertical-align: middle

  // .text-widget
  //   font-size: 1.6rem
  //   .read-more
  //     margin-top: 3rem
  //     margin-right: 5rem

  //     .fa-angle-down
  //       margin-left: 2rem
