.search--section.section--wide
  padding-top: 7rem

.search--section
  // reset
  // smaller gaps
  +breakpoint-up(md)
    .container--fluid,
    [class*="container--"]
      padding-right: $spacer
      padding-left: $spacer
    .grid
      margin-right: -1*$spacer
      margin-left: -1*$spacer
    .col,
    [class*="col--"]
      padding-right: $spacer
      padding-left: $spacer


  // search styles
  .search-resultsCount
    padding: 6.1rem 2rem 4.7rem 2rem
    margin-bottom: 11.7rem
    color: white
    font-weight: 500
    text-align: center
    font-size: 1.9rem
    letter-spacing: .095em
    text-indent: 0.5em

    +breakpoint-down(sm)
      padding: 5rem 2rem
      margin-bottom: 0
      background: transparent !important
      font-size: 1.4rem
      font-weight: 400

    strong
      font-size: 2.2rem
      font-weight: 600


  .search-quick
    background: #ebebeb
    padding: 5.6rem 6.1rem 5.5rem 5.8rem
    margin-bottom: 5rem

    +breakpoint-down(md)
      padding: $spacer

    .button
      font-family: $helvetica-family-MD
      padding: 2.2rem 5.6rem

    .select
      // margin-bottom: .1rem
      border-bottom: 1px solid #D8CFBA

    .select--last
      border-bottom: 0

    .select-group
      margin-left: -.05rem
      margin-right: -.05rem

      .select + .select
        border-left: 1px solid #D8CFBA
        // margin-left: .05rem
        // margin-right: .05rem


  .search-clear
    font-size: 1.1rem
    font-weight: 600
    letter-spacing: .1em  
    color: $clr-main
    text-transform: none
    text-decoration: underline

    &:hover
      text-decoration: none

  .search-filterHeader,
  .search-sectionHeader
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: space-between
    text-transform: uppercase
    letter-spacing: 0.15em
    font-weight: 500
    font-size: 1.4rem

    > span
      margin-right: auto
      margin-left: 0
    .icon--slider
      margin-right: 3.3rem
    .search-clear
      margin-left: auto
      margin-right: 0

  .search-filterHeader
    padding: 3.2rem 5.9rem 2.5rem 5.4rem
    letter-spacing: 0.3em
    color: white

    .icon--sliders
      margin-right: 3.1rem
    
  .search-sectionHeader
    color: rgba(white,.75)
    font-size: 1.1rem
    margin-bottom: 1.6rem

  .search-filter
    color: white

  .search-section
    padding: 3.9rem 6.3rem 4rem 5.8rem
    border-bottom: 1px solid rgba($clr-main,.45)

    +breakpoint-down(md)
      padding: $spacer

    &.search-section--noBorder,
    &:last-of-type
      border-bottom: 0

  .search-section--query
    padding-bottom: 0
    padding-top: 5.1rem
    border-bottom: 0

  .search-section
    .checkbox
      margin-bottom: 0.9rem
      font-family: $serif-family
      font-size: 1.1rem
      letter-spacing: .05em
      font-weight: 600
      font-style: italic

    +breakpoint-up(md)
      .search-checkboxes-2columns
        columns: 2
        column-gap: 3.1rem
        +breakpoint-down(md)
          columns: 1
          column-gap: 0

        > .checkbox
          display: block
          overflow: auto


  .checkbox--rate
    [class*="icon"]
      display: inline-block
      vertical-align: middle

  .search-rateResultsCount
    display: inline-block
    vertical-align: middle
    margin-left: .25rem
    position: relative
    top: 0.1rem
    color: rgba(white,.65)
    font-weight: 400
    font-style: normal
    font-family: $font-family
    font-size: 1.6rem
    

  .spacer
    margin-bottom: 3.3rem

  .search-priceValues
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    margin-bottom: $spacer

  .search-price
    width: calc(50% - #{$spacer})
    display: block
    position: relative
    padding: 1.25em
    line-height: 1em
    font-size: 1.2rem
    font-weight: 600
    text-align: center
    background: transparent
    border: 1px solid rgba(white,.75)
    border-radius: .1em
    color: white

    +breakpoint-down(sm)
      border-color: $clr-main
      font-size: 1.4rem
      font-weight: 300
      padding: .75rem 1.25rem
      letter-spacing: .1em
      line-height: 2rem
      border-radius: 0
      width: calc(50% - #{$spacer*2})

  .search-price--from
    margin-left: 0
    margin-right: auto

    +breakpoint-down(sm)
      margin-left: $spacer

  .search-price--to
    margin-left: auto
    margin-right: 0

    +breakpoint-down(sm)
      margin-right: $spacer


  .search-order
    margin: -0.4rem 0 4.9rem 0
    +breakpoint-up(md)
      padding-left: 0.8rem

    .select
      width: 25%
      margin-right: 3.8rem
      &:last-of-type
        margin-right: 0

    +breakpoint-down(md)
      display: flex
      flex-flow: row wrap
      align-items: flex-start

      .select
        margin-right: 0
        width: calc(100% / 3)
        margin-left: -1px
        border-color: rgba(white,.15)

        select
          font-size: 1.1rem
          line-height: 1.25
          width: 100%

    .search-linkMap
      display: inline-flex
      flex-flow: column nowrap
      color: white
      float: right
      align-items: center
      font-size: 1.5rem
      margin: -0.5rem 1.7rem 0 0
      line-height: 1
      &:hover
        color: white
        text-decoration: none
      +breakpoint-down(md)
        flex: 1 1 100%
        margin-top: 3.5rem

      span
        position: relative
        top: .9rem

  .search-filterTrigger
    position: relative
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: center
    text-align: center
    padding: 3.2rem 5.9rem 2.5rem 5.4rem
    letter-spacing: 0.3em
    // color: white
    font-weight: 300
    text-transform: uppercase
    font-size: 1.4rem
    cursor: pointer

    .search-wrap--opened &
      background: transparent
      border-bottom: 1px solid rgba($clr-main,.45)
      flex: 0 0 auto

    small
      font-size: 75%
      opacity: .75
      letter-spacing: .1em


    .icon--sliders
      margin-right: 3.1rem
    .icon--arrow
      position: absolute
      right: 4rem
      top: 50%
      transform: translateY(-50%) scale(.75)

      .search-wrap--opened &
        transform: translateY(-50%) scale(.75) rotate(90deg)


.search-filters--mobile

  .search-wrap--opened &
    position: fixed
    top: 0
    left: 0
    display: flex
    flex-flow: column nowrap
    width: 100vw
    height: 100vh
    overflow: auto
    z-index: 100
    background: $clr-alt

  .search-filterQuery
    background: #1c1c1c
    display: flex
    flex-flow: row nowrap
    padding: 2.5rem 4rem
    flex: 0 0 auto

    // show
    body:not(.search-wrap--opened) &
      display: none

    // elements
    [class*="icon"]
      flex: 0 0 auto

    .icon--search
      margin-left: 0
      margin-right: 1.5rem

    .icon--close
      margin-right: 0
      margin-left: 1.5rem

    input
      flex: 1 1 auto
      border-width: 0
      color: $clr-main
      font-weight: 400
      padding: 0
      height: 2.5rem
      line-height: 2.5rem
      font-size: 1.3rem

      +placeholder
        color: $clr-gray
        font-weight: 400
        font-size: 1.3rem
        line-height: 2.5rem


  .search-filtersWrap
    flex: 1 1 auto

    // hide
    body:not(.search-wrap--opened) &
      display: none

    .search-filter
    .search-filterTitle
      position: relative
      display: block
      text-align: center
      padding: $spacer $spacer*3
      font-weight: 300
      text-transform: uppercase
      letter-spacing: .25em
      font-size: 1.4rem
      border-bottom: 1px solid rgba($clr-main,.45)
      cursor: pointer

      .icon--arrow
        position: absolute
        right: 4rem
        top: 50%
        transform: translateY(-50%) scale(.75)

    .toggle-checkbox:checked

      ~ .search-filterTitle
        border-color: rgba($clr-main,0)

        .icon--arrow
          transform: translateY(-50%) scale(.75) rotate(90deg)

    .search-filterItems
      position: relative
      padding: 5.5rem 4rem
      background: #2E2E2E
      text-align: center

    .search-filterItems--rating
      padding-top: 4rem
      padding-bottom: 4rem

    .search-filterItems--price
      padding-top: 3rem
      padding-bottom: 3rem

    .search-filterItem
      display: inline-block
      vertical-align: top
      padding: .5rem
      font-family: $serif-family
      font-size: 1.2rem
      font-style: italic
      letter-spacing: .1em
      font-weight: 600
      color: white

    .search-filterItemRemove
      position: relative
      display: inline-block
      width: 1.4rem
      height: 1.4rem
      margin-left: .5rem
      border-radius: 1.4rem
      background: white
      cursor: pointer

      &:before,
      &:after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        width: 1rem
        height: 1px
        background: #2E2E2E

      &:before
        transform: translate(-50%,-50%) rotate(45deg)

      &:after
        transform: translate(-50%,-50%) rotate(-45deg)

    .search-addFilterItem
      z-index: 11
      position: absolute
      right: 4rem
      top: 2rem
      padding: 0
      max-width: none
      border: 0
      width: 2rem
      height: 2rem

      select
        padding: 2rem 0 0
        height: 2rem
        width: 2rem
        +retina-image('plus.png')
        background-position: center
        background-repeat: no-repeat

      &:before
        content: ''
        @extend %align--xy--center
        +retina-image('plus.png')
        display: none !important


    .search-filter .rate
      margin-top: 1rem


  .search-filterResults
    flex: 0 0 auto
    padding: 2rem 4rem
    margin-top: auto
    margin-bottom: 0

    // hide
    body:not(.search-wrap--opened) &
      display: none