.section--wide
  position: relative
  padding-top: 11.8rem
  padding-bottom: 8rem
  &.section--hasTitle
    padding-top: 20.8rem
    +breakpoint-down(md)
      padding-top: 6rem
.section-title
  font-family: $helvetica-family-MD
  position: absolute
  top: 0
  left: 0
  width: 100%
  padding-top: 11.2rem
  height: 21.8rem
  color: $clr-text
  text-transform: uppercase
  font-weight: bold
  letter-spacing: .1em
  font-size: 1.3rem
  line-height: 1.8rem

  +breakpoint-down(md)
    font-size: 1.3rem
    font-weight: 600
    position: relative
    height: auto
    padding-top: 0
    margin-bottom: 6rem

    br
      display: none

    span
      font-weight: 400