
.select
  position: relative
  display: inline-block
  vertical-align: top
  background: transparent
  border: 1px solid rgba(white,.75)
  border-radius: .1em
  color: white
  overflow: hidden
  z-index: 2
  flex: 1 1 auto
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  transition-property: all
  transition-duration: 150ms
  transition-timing-function: ease-in-out

  &:before
    content: ''
    z-index: 1
    speak: none
    position: absolute
    top: 50%
    right: .75em
    transform: translateY(-50%)
    +retina-image('arrow-down.png')
    filter: brightness(300%)
    transition-property: all
    transition-duration: 150ms
    transition-timing-function: ease-in-out
  

  select
    display: block
    position: relative
    width: 100%
    padding: 1.3em 1em 1.3em 1.5em
    letter-spacing: 0.15em
    padding-right: 3em
    line-height: 1em
    font-size: 1.2rem
    font-weight: 500
    font-family: $font-family
    border: 0
    background: transparent
    border-radius: .1em
    // border-radius: 0
    color: white
    transition-property: all
    transition-duration: 150ms
    transition-timing-function: ease-in-out
    cursor: pointer
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

    &:focus,
    &:active
      outline: 0

  &:hover
    border-color: $clr-main
    background: transparent
    color: $clr-main

    select
      color: $clr-main

    &:before
      filter: none



.select--white
  color: black
  background: white
  border: 0

  &:before
    border: 5px solid transparent
    border-bottom-width: 0
    border-top-color: black
    border-radius: .3rem
    background: none
    width: 0
    height: 0

  select
    color: black
    text-transform: uppercase
    letter-spacing: .5rem
    font-size: 1.1rem
    padding: 1.7em 2.5em 1.3em 1.4em

  &:hover
    background: white
    color: $clr-main

    select
      color: $clr-main

    &:before
      filter: none


.select--calendar
  &:after
    content: ''
    z-index: 1
    speak: none
    position: absolute
    top: 50%
    left: .7em
    transform: translateY(-50%)
    +retina-image('calendar.png')
    filter: brightness(300%)
    transition-property: all
    transition-duration: 150ms
    transition-timing-function: ease-in-out

    +breakpoint-down(lg)
      transform: translateY(-50%) scale(.65)
      left: .25em

  select
    padding-left: 4.4em
    +breakpoint-down(lg)
      padding-left: 2.5em


