.temperature-widgetWrap
  margin-bottom: 12.6rem
.temperature-widgetWrap--last
  margin-bottom: 0
.temperature-widgetTitle
  text-transform: uppercase
  font-size: 2rem
  margin-left: -0.7rem
.temperature-widget
  display: flex
  flex-flow: row nowrap
  align-items: flex-end
  padding-top: 7.3rem
  width: 100%
  width: calc(100% - 1rem)
  margin-left: -2rem

  +breakpoint-down(md)
    overflow: auto
    white-space: nowrap
    padding-top: 12rem
    margin-left: -2rem
    margin-right: -2rem
    width: 100vw
    padding-left: 2rem
    padding-right: 2rem

.temperature-month
  position: relative
  flex: 0 0 calc(100% / 12)
  text-align: center
  font-family: $serif-family

  +breakpoint-down(md)
    min-width: 9.4rem

.temperature-monthTemperature 
  z-index: 2
  position: relative
  color: $clr-main

.temperature-monthTitle
  z-index: 2
  position: absolute
  left: 37%
  bottom: 100%
  transform: rotate(-50deg) translate(0,-30%)
  transform-origin: left top
  color: $clr-main
  font-size: 2.1rem
  line-height: 3rem
  letter-spacing: .05em

.temperature-monthVisual
  position: relative
  margin-bottom: 0.7rem

  &:before
    display: block
    content: ""
    width: 100%
    padding-top: 100%

.temperature-monthVisualInner
  position: relative
  position: absolute
  top: 50%
  left: 50%
  width: 100%
  height: 0
  padding-top: 100%
  transform: translate(-50%,-50%)

  &:after
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    height: 0
    padding-top: 100%
    transform: translate(-50%,-50%)
    content: ""
    background: $clr-main
    border-radius: 50rem


.temperature-widget--half
  padding-top: 8.6rem

  .temperature-monthVisual
    margin-bottom: 0.4rem
  .temperature-monthVisual:before
    padding-top: 50%

  .temperature-monthVisualInner
    padding-top: 50%

    &:after
      top: 0
      padding-top: 50%
      border-radius: 0 0 50rem 50rem
      transform: translate(-50%,0)


.temperature-widget--striped
  position: relative
  padding-top: 9.3rem

  .temperature-monthTitle
    left: 60%
    transform: rotate(-50deg) translate(0,-130%)

  .temperature-monthVisual
    margin-bottom: 3rem

  &:before
    content: ''
    background: repeating-linear-gradient(-45deg, currentColor, currentColor 2px, rgba(170, 149, 98, 0) 2px, rgba(170, 149, 98, 0) 4px)
    position: absolute
    left: 0
    top: 0
    height: 100%
    z-index: 1
    width: 100%

    +breakpoint-down(md)
      display: none

  +breakpoint-down(md)
    .temperature-monthVisualInner:after
      background: repeating-linear-gradient(-45deg, $clr-main, $clr-main 2px, rgba($clr-main,0) 2px, rgba($clr-main,0) 4px)

