.text-widget
  // padding-left: 6rem

  h4
    font-weight: bold
    font-style: italic
    
  [class*="col--"]:first-of-type
    padding-right: 8.3rem
    padding-left: 4.2rem

    +breakpoint-down(md)
      padding-left: 2rem
      padding-right: 2rem


  [class*="col--"]:last-of-type
    padding-left: 0rem
    padding-right: 0rem

    +breakpoint-down(md)
      padding-left: 2rem
      padding-right: 2rem


  .p--icon--plane
    position: relative

    &:before
      content: ''
      +retina-image('plane.png')
      position: absolute
      left: 0
      top: .5rem

  p
    margin-bottom: 1.2rem
  p.text--leader
    margin-bottom: 3rem
  .p--offset--left
    padding-left: 5rem

  p:not(.text--leader)
    font-weight: 600
    font-size: 1.5rem
    line-height: 2.4rem
    letter-spacing: .05em

  .styled
    font-family: "Baskerville", serif
    font-style: italic
    font-weight: 700 !important


  .slider
    margin-bottom: 5rem

  .image--map
    margin-bottom: 8.1rem
    &.image--right
      margin-right: 1.2rem
