.toggle
  position: relative
  z-index: 10

.toggle-checkbox
  position: absolute
  left: 0
  top: 0
  height: 0
  width: 0
  overflow: hidden
  visibility: hidden
  clip: rect(0px,0px,0px,0px)

.toggle-label
  cursor: pointer

.toggle:not(.toggle--visibility)
  .toggle-container
    display: none
    animation-duration: 150ms
    animation-timing-function: linear
    animation-fill-mode: both

  .toggle-checkbox:checked ~ .toggle-container
    display: block
    animation-name: toggleFadeIn
  
.toggle--visibility
  .toggle-container
    visibility: hidden
    opacity: 0
    transition-property: visible, opacity
    transition-duration: 150ms
    transition-timing-function: ease-out

  .toggle-checkbox:checked ~ .toggle-container
    visibility: visible
    opacity: 1

@keyframes toggleFadeIn
  from
    opacity: 0
    visibility: hidden
  to
    opacity: 1
    visibility: visible