.tour-list

.tour--listItem
  margin: 0 $spacer
  text-align: center

  .tour-inner
    +breakpoint-down(md)
      margin-left: auto
      margin-right: auto
      max-width: 34rem

    +breakpoint-down(sm)
      max-width: none

  .tour-inner img
    width: 100%

  .tour-info  
    position: relative
    // padding: $spacer
    // padding: 4rem 6.7rem 3.5rem 4.6rem
    padding: 4rem 3.5rem 2.9rem 3.4rem
    color: white
    font-family: $serif-family

    +breakpoint-down(md)
      padding: $spacer


  .tour-title
    line-height: 2rem
    margin-bottom: 0
    text-transform: uppercase

    +breakpoint-up(md)
      font-size: 1.6rem

  .tour-location
    font-style: italic
    margin-bottom: $spacer

    +breakpoint-up(md)
      margin-bottom: $spacer/2
      font-size: 1.2rem

  .tour-rate
    text-align: center
    height: 0

  .tour-details
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    justify-content: space-between

  .tour-vip
    margin-left: 0
    margin-top: 2.3rem
    margin-right: auto
    max-width: 50%
    +retina-image('vip-badge.png')
    background-position: center bottom
    display: none

    @at-root
      .tour--vip .tour-vip
        display: block



  .tour-meta
    margin-right: 0
    margin-left: auto
    flex: 0 0 auto
    text-align: left
    line-height: 1
    padding-top: 1.6rem

  .tour-meta small
    display: block
    margin-bottom: .8rem
    font-style: italic
    color: $clr-gray
    +breakpoint-up(md)
      font-size: 1.1rem

  .tour-price
    font-family: $font-family
    font-size: 2.4rem
    line-height: 1.15


  .tour-duration

.tour-imageWrap
  position: relative

.tour-badge
  z-index: 1
  position: absolute
  left: 50%
  top: 100%
  transform: translateX(-50%)
  margin-top: -5.5rem

  +breakpoint-down(sm)
    left: auto
    right: 2rem
    top: 50%
    transform: translateY(-50%)


.tour-badge--gold
  +retina-image('badge--gold.png')
.tour-badge--bronze
  +retina-image('badge--bronze.png')
.tour-badge--platinum
  +retina-image('badge--platinum.png')

.tour-list--popular
  padding: 0 6rem
  margin-bottom: 1.4rem

  .tour--listItem
    margin: 0 3rem
    width: 36rem

  ~ .button--big
    padding: 2.2rem 2.8rem


.tour-list--search
  +breakpoint-up(md)
    [class*="col"]
      padding-left: 3rem
  .tour--listItem
    margin: 0 0 $spacer*2
    width: 100%

    .tour-info
      padding: 4rem 4.4rem 2.6rem 4rem

    // .tour-price
    //   margin-bottom: 0.7rem