
@font-face
    font-family: 'Baskerville'
    src: url('../fonts/baskerville/Baskerville-Italic.eot')
    src: url('../fonts/baskerville/Baskerville-Italic.eot?#iefix') format('../fonts/baskerville/embedded-opentype'),url('../fonts/baskerville/Baskerville-Italic.woff2') format('../fonts/baskerville/woff2'),url('../fonts/baskerville/Baskerville-Italic.woff') format('../fonts/baskerville/woff'),url('../fonts/baskerville/Baskerville-Italic.ttf') format('../fonts/baskerville/truetype'),url('../fonts/baskerville/Baskerville-Italic.svg#Baskerville-Italic') format('../fonts/baskerville/svg')
    font-weight: normal
    font-style: italic

@font-face
    font-family: 'Baskerville'
    src: url('../fonts/baskerville/Baskerville-SemiBoldItalic.eot')
    src: url('../fonts/baskerville/Baskerville-SemiBoldItalic.eot?#iefix') format('../fonts/baskerville/embedded-opentype'),url('../fonts/baskerville/Baskerville-SemiBoldItalic.woff2') format('../fonts/baskerville/woff2'),url('../fonts/baskerville/Baskerville-SemiBoldItalic.woff') format('../fonts/baskerville/woff'),url('../fonts/baskerville/Baskerville-SemiBoldItalic.ttf') format('../fonts/baskerville/truetype'),url('../fonts/baskerville/Baskerville-SemiBoldItalic.svg#Baskerville-SemiBoldItalic') format('../fonts/baskerville/svg')
    font-weight: 600
    font-style: italic

@font-face
    font-family: 'Baskerville'
    src: url('../fonts/baskerville/Baskerville.eot')
    src: url('../fonts/baskerville/Baskerville.eot?#iefix') format('../fonts/baskerville/embedded-opentype'),url('../fonts/baskerville/Baskerville.woff2') format('../fonts/baskerville/woff2'),url('../fonts/baskerville/Baskerville.woff') format('../fonts/baskerville/woff'),url('../fonts/baskerville/Baskerville.ttf') format('../fonts/baskerville/truetype'),url('../fonts/baskerville/Baskerville.svg#Baskerville') format('../fonts/baskerville/svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Baskerville'
    src: url('../fonts/baskerville/Baskerville-Bold.eot')
    src: url('../fonts/baskerville/Baskerville-Bold.eot?#iefix') format('../fonts/baskerville/embedded-opentype'),url('../fonts/baskerville/Baskerville-Bold.woff2') format('../fonts/baskerville/woff2'),url('../fonts/baskerville/Baskerville-Bold.woff') format('../fonts/baskerville/woff'),url('../fonts/baskerville/Baskerville-Bold.ttf') format('../fonts/baskerville/truetype'),url('../fonts/baskerville/Baskerville-Bold.svg#Baskerville-Bold') format('../fonts/baskerville/svg')
    font-weight: bold
    font-style: normal

@font-face
    font-family: 'Baskerville'
    src: url('../fonts/baskerville/Baskerville-SemiBold.eot')
    src: url('../fonts/baskerville/Baskerville-SemiBold.eot?#iefix') format('../fonts/baskerville/embedded-opentype'),url('../fonts/baskerville/Baskerville-SemiBold.woff2') format('../fonts/baskerville/woff2'),url('../fonts/baskerville/Baskerville-SemiBold.woff') format('../fonts/baskerville/woff'),url('../fonts/baskerville/Baskerville-SemiBold.ttf') format('../fonts/baskerville/truetype'),url('../fonts/baskerville/Baskerville-SemiBold.svg#Baskerville-SemiBold') format('../fonts/baskerville/svg')
    font-weight: 600
    font-style: normal

@font-face
    font-family: 'Baskerville'
    src: url('../fonts/baskerville/Baskerville-BoldItalic.eot')
    src: url('../fonts/baskerville/Baskerville-BoldItalic.eot?#iefix') format('../fonts/baskerville/embedded-opentype'),url('../fonts/baskerville/Baskerville-BoldItalic.woff2') format('../fonts/baskerville/woff2'),url('../fonts/baskerville/Baskerville-BoldItalic.woff') format('../fonts/baskerville/woff'),url('../fonts/baskerville/Baskerville-BoldItalic.ttf') format('../fonts/baskerville/truetype'),url('../fonts/baskerville/Baskerville-BoldItalic.svg#Baskerville-BoldItalic') format('../fonts/baskerville/svg')
    font-weight: bold
    font-style: italic
