@each $bp in map-keys($breakpoints)
  +breakpoint-up($bp)
    $bp: breakpoint-infix($bp, $breakpoints)

    .w#{$bp}--25
      width: 25% !important
    .w#{$bp}--50
      width: 50% !important
    .w#{$bp}--100
      width: 100% !important

    .mh#{$bp}--25vh
      min-height: 25vh !important
    .mh#{$bp}--50vh
      min-height: 50vh !important
    .mh#{$bp}--75vh
      min-height: 75vh !important
    .mh#{$bp}--100vh
      min-height: 100vh !important