// Flex variation
//
// Custom styles for additional flex alignment options.

@each $bp in map-keys($breakpoints)
  +breakpoint-up($bp)

    $bp: breakpoint-infix($bp, $breakpoints)

    .flex#{$bp}--row
      flex-direction: row !important

    .flex#{$bp}--column
      flex-direction: column !important

    .flex#{$bp}--row-reverse
      flex-direction: row-reverse !important

    .flex#{$bp}--column-reverse
      flex-direction: column-reverse !important


    .flex#{$bp}--wrap
      flex-wrap: wrap !important

    .flex#{$bp}--nowrap
      flex-wrap: nowrap !important

    .flex#{$bp}--wrap-reverse
      flex-wrap: wrap-reverse !important


    .justifyContent#{$bp}--start
      justify-content: flex-start !important

    .justifyContent#{$bp}--end
      justify-content: flex-end !important

    .justifyContent#{$bp}--center
      justify-content: center !important

    .justifyContent#{$bp}--between
      justify-content: space-between !important

    .justifyContent#{$bp}--around
      justify-content: space-around !important


    .alignItems#{$bp}--start
      align-items: flex-start !important

    .alignItems#{$bp}--end
      align-items: flex-end !important

    .alignItems#{$bp}--center
      align-items: center !important

    .alignItems#{$bp}--baseline
      align-items: baseline !important

    .alignItems#{$bp}--stretch
      align-items: stretch !important


    .alignContent#{$bp}--start
      align-content: flex-start !important

    .alignContent#{$bp}--end
      align-content: flex-end !important

    .alignContent#{$bp}--center
      align-content: center !important

    .alignContent#{$bp}--between
      align-content: space-between !important

    .alignContent#{$bp}--around
      align-content: space-around !important

    .alignContent#{$bp}--stretch
      align-content: stretch !important


    .alignSelf#{$bp}--auto
      align-self: auto !important

    .alignSelf#{$bp}--start
      align-self: flex-start !important

    .alignSelf#{$bp}--end
      align-self: flex-end !important

    .alignSelf#{$bp}--center
      align-self: center !important

    .alignSelf#{$bp}--baseline
      align-self: baseline !important

    .alignSelf#{$bp}--stretch
      align-self: stretch !important
